* {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

h1 {
    font-size: 3rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}

img {
    width: 300px;
    height: auto;
    border-radius: 25px;
    border: 1px solid whitesmoke;
}

.description {
    font-size: 23px;
}

a {
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

a:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  }
